*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D7EFFF;
}

.article-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.article-logo-icon{
    margin: 2%;
}

.home-backbutton{
    background: none;
    border: none;
    padding: 0;
}

.article-img{
    width: 100%;
    border-radius: 20px;
}

.article-go-back-container{
    text-align: center;
}

.article-go-back-button{
    width: 195px;
    height: 51px;
    color: white;
    margin-top: 50px;
    background-color: #0957DE;
    box-shadow: 0px 0px 32px 3px rgba(9, 87, 222, 0.2);
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

.article-related-articles{
    text-align: center;
    margin-top: 25px;
}

.article-body-container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#article-title{
    margin-top: 12px;
    margin-bottom: 25px;
}

.inqueue-article{
    width: 85%;
    min-height: 35vh;
    padding: 7.5%;
    margin-top: 35px;
    border-bottom: solid 1px gray;
}
.inqueue-article-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.inqueue-tag{
    background-color: #F0F9FF;
    padding: 5px;
    width: 120px;
    border-radius: 20px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.inqueue-note{
    color: gray;
    text-align: center;
}
.inqueue-link{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px){
	.article-body-container{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .article-logo-icon{
        margin: 0;
        margin: 1%;
    }

    .inqueue-article-container{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
