
body{
    background-color: #F5F5F5;
}
.index-page-container{
    text-align: center;
    margin-top: 10%;
}


.index-input-gp-code{
    display: block;
    margin: auto;
    margin-bottom: 1%;
} 

.index-input-submit{
    background-color: aqua;
    padding: 1%;
}

@media screen and (max-width: 540px){
	.index-page-container{
        margin-top: 90%;
    }
}
